h1,
.subtitle {
    margin: 0;
}

header {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 769px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .header-text {
        margin-bottom: 40px;
    }
}