<section class="d-flex flex-column align-items-center mt-5" role="main">
    <h2 class="display-6">Add New Yoga Pose</h2>
    <form [formGroup]="newPose" class="d-flex flex-column align-content-center justify-content-center w-50 my-5">
        <div class="form-group">
            <label for="pose-sanskrit">Sanskrit name</label>
            <input type="text" class="form-control" id="pose-sanskrit" placeholder="Sanskrit Pose Name"
                formControlName="sanskritName">
        </div>
        <div class="form-group mt-3">
            <label for="pose-english">English name</label>
            <input type="text" class="form-control" id="pose-english" placeholder="English Pose Name"
                formControlName="englishName">
        </div>
        <div class="form-group mt-3">
            <label for="pose-benefits">Benefits</label>
            <textarea class="form-control" id="pose-benefits" placeholder="Pose Benefits"
                formControlName="benefits"></textarea>
        </div>
        <div class="form-group mt-3">
            <label for="img-url">Image URL</label>
            <input type="text" class="form-control" id="img-url" placeholder="Pose Image URL"
                formControlName="imageSrc">
        </div>
        <div class="form-group my-3">
            <label for="img-desc">Alt Text</label>
            <input type="text" class="form-control" id="img-desc" placeholder="Alternative text for image"
                formControlName="altText">
        </div>
        <div class="form-group form-check">
            <label for="pose-favorite" class="form-check-label">Favorite</label>
            <input type="checkbox" id="pose-favorite" class="form-check-input">
        </div>

        <button (click)="add()" class="btn btn-warning mt-3">Add Yoga Pose</button>
    </form>
</section>