a[routerLink="/poses"] {
    margin-left: 20px;
}


@media (max-width: 768px) {

    nav {
        display: flex;
        flex-direction: column;
    }

    a[routerLink="/poses"] {
        margin: 0;
    }

}