section {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2,
.pose-container {
    text-align: center;
}

.pose-container {
    padding: 30px;
    user-select: none;
    background-color: #EEE;
}

h3 {
    font-size: 2em;
}

.pose-container > h2 {
    margin-bottom: 0;
}

.pose-name {
    font-family: 'Cormorant', serif;
    font-size: 1.5em;
    margin-top: 0;
}

fa-icon {
    color: #FFF;
    display: block;
    font-size: 2em;
}

.favorite {
    color: red;
}

img {
    max-width: 500px;
}

.edit-details {
    padding: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sanskrit-container {
    margin-bottom: 20px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

input {
    background-color: #EEE;
    border: 0;
    border-radius: 5px;
    height: 50px;
}

input:focus {
    outline: none; 
    border: 3px solid #c6e48a;
    background-color: #fff;
    transition: background-color 0.25s ease-out;
}