<section *ngIf="pose" role="main">

    <div>
        <h2>Pose Details</h2>
        <p>Sanskrit: {{ pose.sanskritName }}</p>
        <p>English: {{ pose.englishName }}</p>
        <p *ngIf="contentEditable">LOVE</p>
        <label for="favorite-pose"></label>
        <input id="favorite-pose" type="checkbox" (change)="toggleEditable($event)">
    </div>
    
    <div>
        <label for="pose-sanskrit">Sanskrit name: </label>
        <input id="pose-sanskrit" [(ngModel)]="pose.sanskritName" placeholder="name">
    </div>

    <div>
        <label for="pose-english">English name: </label>
        <input id="pose-english" [(ngModel)]="pose.englishName" placeholder="name">
    </div>

    <div>
        <button (click)="goBack()">Go Back</button>
        <button (click)="save()">Save</button>
    </div>
</section>
