<section *ngIf="pose" role="main"
        (dblclick)="onToggle(pose)">

    <div class="pose-container">
        <h2>Pose Details</h2>
        <p>Sanskrit: {{ pose.sanskritName }}</p>
        <p>English: {{ pose.englishName }}</p>
        <fa-icon [icon]="faHeart" [ngClass]="{ favorite: pose.favorite }"></fa-icon>
    </div>


    
    <div>
        <label for="pose-sanskrit">Sanskrit name: </label>
        <input id="pose-sanskrit" [(ngModel)]="pose.sanskritName" placeholder="Sanskrit pose name">
    </div>

    <div>
        <label for="pose-english">English name: </label>
        <input id="pose-english" [(ngModel)]="pose.englishName" placeholder="English pose name">
    </div>

    <div>
        <label for="pose-favorite">Favorite pose? </label>
        <input type="checkbox" id="pose-favorite" [(ngModel)]="pose.favorite">
    </div>

    <div>
        <button (click)="goBack()">Go Back</button>
        <button (click)="save()">Save</button>
    </div>
</section>
