.margin {
    margin-left: 50px !important;
}


.benefits {
    margin: 0 !important;
}

p {
    margin-top: 20px;
}

.favorite {
    color: red !important;
}

[class^="fa-"], [class*="fa-"] {
    display: inline-block;
    width: 100%;
    text-align: center !important;
    color: white;
}

div {
    user-select: none;
}


