section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2,
.pose-container {
    text-align: center;
}

.pose-container {
    padding: 30px;
    user-select: none;
}
fa-icon {
    color: #FFF;
    display: block;
    font-size: 2em;
}

.favorite {
    color: red;
}

.pose-container {
    background-color: #EEE;
}

img {
    max-width: 500px;
}