fa-icon {
  display: block;
  font-size: 1.5em;
  text-align: right;
}

.btn-info {
  background-color: #b67653;
  border-color: #b67653;
}

.btn-info:hover {
  background-color: #be815f;
  border-color: #be815f;
}