<section role="main">
    <h2>Great Poses</h2>

    <a routerLink="/create"><button>Add New Pose</button></a>

    <ul class="yoga-container">
        <li *ngFor="let pose of poses" class="pose-container">
            <img src="{{pose.imageSrc}}" alt="">
            <div class="text-delete">
                <a routerLink="/detail/{{pose.id}}">
                    <span class="badge">{{pose.id}}</span> - <span lang="sa">{{pose.sanskritName}}</span>
                </a>
                <fa-icon [icon]="faTrashAlt" (click)="delete(pose)" title="delete pose"></fa-icon>
            </div>
        </li>
    </ul>



    <!-- <div>
        <label for="english-name">English name: </label>
        <input id="english-name" #englishName />
        <label for="sanskrit-name">Sanskrit name: </label>
        <input id="sanskrit-name" #sanskritName />      
        <button class="add-button"
            (click)="create(sanskritName.value, englishName.value); englishName.value=''; sanskritName.value=''">
            Add pose
        </button>
    </div> -->

    <!-- (click) passes input value to add() and then clears the input -->

</section>