<section class="d-flex flex-column align-items-center mt-5" role="main">
    <h2 class="display-6">Great Poses</h2>
    <a routerLink="/create" class="btn btn-new btn-lg m-3">Add New Pose</a>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card row m-3 flex-row justify-content-center shadow-sm p-3 mb-5 bg-white rounded"
                style="width: 18rem;" *ngFor="let pose of poses">
                <fa-icon [icon]="faTrashAlt" (click)="delete(pose)" class="close"></fa-icon>
                <img [src]="pose.imageSrc" class="card-img-top" [alt]="pose.altText">
                <div class="card-body d-flex flex-column align-items-center justify-content-end">
                    <h3 class="card-title fs-5">{{pose.sanskritName}}</h3>
                    <h4 class="card-subtitle mb-2 text-muted fs-6">{{pose.englishName}} - <span
                            class="badge rounded-pill bg-secondary">{{pose.id}}</span></h4>
                    <a routerLink="/detail/{{pose.id}}" class="btn btn-info">View Details</a>
                </div>
            </div>
        </div>
    </div>
</section>